/* General Styles */
html{
    height: 100%;
}
* {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #fff;
    margin: 0 5%;
    height: 100vh;
}

/* Header Styles */
header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section Styles */
.about_section{
    margin:3% 5% ;
    display:flex;
    justify-content:space-between;
}
.about_section .about_content{
  max-width: 70%;
}


/* Basic Styles for Image */
.photo_me{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
    width:auto; /* Full height viewport */
    background-color: #ffffff; /* Background color to visualize the fade effect */
}

.home_image {
    width: 100%;
    max-width:700px;
    height: auto;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition for opacity and transform */
}

/* Keyframes for Fade-out Effect */
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95); /* Optional scaling to enhance the fade-out effect */
    }
}

/* Apply animation for fading */
.fade-out {
    animation: fadeOut 1s forwards;
}



/* Footer Styles */
footer {
    background-color: #353434;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    display: flex;
    justify-content: space-around;

}
 .letter_logo  {
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
}
/* General styles for social media links */
.social-media {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adjust gap between links as needed */
    margin-top: 20px; /* Adjust margin as needed */
}

.social-media a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Use the inherited color */
    font-size: 18px; /* Adjust font size as needed */
    transition: color 0.3s ease;
}

.social-media a i {
    margin-right: 16px; /* Space between icon and text */
    font-size: 20px; /* Adjust icon size as needed */
}

.social-media a:hover {
    color: #5b5b5b; /* Change color on hover, customize as needed */
}

/* Additional footer styling for alignment */
footer {
    
    text-align: center;
    padding: 20px 20px; /* Adjust padding as needed */
    background-color: #3d3d3d; /* Customize background color */
}

footer .letter_logo a {
    font-weight: bold;
    color: #000; /* Customize as needed */
    margin-right: 20px;
    text-decoration: none;
    transition: color o.3s ease;
}
.copyright{
    font-weight:100;
}
 .letter_logo:hover {
    transition: 0.3s;
    color: #9d9a9a; /* Customize hover color */
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
}
/* CV Download Container Styles */
.cv-download-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.cv-download-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color:  #3b3a3a;
    color: #b8b6b6;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.cv-download-button i {
    margin-right: 8px;
    font-size: 1.2em;
}

.cv-download-button:hover {
   
    color: #ffffff;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #about {
        padding: 20px;
        margin: 10px;
    }

    .cv-download-button {
        font-size: 1em;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .cv-download-button {
        font-size: 0.9em;
        padding: 6px 10px;
    }
}
@media (max-width: 1024px) {
    .about_section{
        flex-direction:column ;
        align-items: flex-start;
        
}
.home_image{
    max-width:600px;
 
}
}


@media (max-width: 768px) {
    body{
        margin: 0 0;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .social-media a{
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul li {
        margin: 5px 0;
    }
    .about_section{
        flex-direction:column;
        align-items: flex-start;
        margin: 16px 16px ;
    }
   
  /* Basic Styles for Image */
  
    .home_image{
        max-width:500px; 
    }
   
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .social-media {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .copyright, .powered_by{
        margin-top: 1rem;
    }
}
@media (max-width: 480px){
    .home_image{
        max-width:300px;
     
    }}